/**
 * Code Block Component Styles
 */

.nx-code-block {
  @apply block;
}

.code-block-wrapper {
  @apply relative;
}

.code-block-wrapper .copy-button {
  @apply absolute top-2 right-2 z-10;
}

.code-block-container {
  @apply flex overflow-auto;
}
