{
	"tabWidth": 2,
	"useTabs": true,
	"singleQuote": true,
	"semi": true,
	"bracketSpacing": true,
	"arrowParens": "avoid",
	"trailingComma": "es5",
	"bracketSameLine": true,
	"printWidth": 80,
	"plugins": ["prettier-plugin-svelte", "prettier-plugin-tailwindcss"],
	"overrides": [
		{
			"files": "*.html",
			"options": {
				"parser": "angular"
			}
		},
		{
			"files": "*.svelte",
			"options": {
				"parser": "svelte"
			}
		},
		{
			"files": "*.vue",
			"options": {
				"parser": "vue"
			}
		},
		{
			"files": ["tsconfig*.json", "**/tsconfig*.json"],
			"options": {
				"printWidth": 40
			}
		}
	]
}
