/**
 * Code Header Component Styles
 */

.nx-code-header {
  @apply block;
}

.nx-code-header header {
  @apply flex items-center px-4 py-2.5 border-b;

  &.dark {
    @apply bg-neutral-800 border-neutral-700 text-neutral-300;
  }

  &.light {
    @apply bg-neutral-100 border-neutral-200 text-neutral-700;
  }

  .title-container {
    @apply flex items-center gap-2;
  }

  .file-icon {
    @apply size-3.5;
  }

  .title {
    @apply text-xs font-medium;
  }
}
