/**
 * NGEENX Tailwind CSS v4 Configuration
 *
 * This file serves as the central Tailwind CSS configuration for all NGEENX components.
 * Components should reference this file instead of tailwindcss directly:
 *
 * @reference "@ngeenx/nx-code-viewer-theme";
 */

@import 'tailwindcss';
@import 'tw-animate-css';

:root {
  --nx-code-viewer-theme-50: #fefdf6;
  --nx-code-viewer-theme-100: #fcfae8;
  --nx-code-viewer-theme-200: #f9f4d2;
  --nx-code-viewer-theme-300: #f5ebad;
  --nx-code-viewer-theme-400: #ebd85c;
  --nx-code-viewer-theme-500: #d6bd1a;
  --nx-code-viewer-theme-600: #968413;
  --nx-code-viewer-theme-700: #6d600d;
  --nx-code-viewer-theme-800: #403808;
  --nx-code-viewer-theme-900: #201c04;
  --nx-code-viewer-theme-950: #121002;
}

@theme {
  --color-nx-code-viewer-theme-50: var(--nx-code-viewer-theme-50);
  --color-nx-code-viewer-theme-100: var(--nx-code-viewer-theme-100);
  --color-nx-code-viewer-theme-200: var(--nx-code-viewer-theme-200);
  --color-nx-code-viewer-theme-300: var(--nx-code-viewer-theme-300);
  --color-nx-code-viewer-theme-400: var(--nx-code-viewer-theme-400);
  --color-nx-code-viewer-theme-500: var(--nx-code-viewer-theme-500);
  --color-nx-code-viewer-theme-600: var(--nx-code-viewer-theme-600);
  --color-nx-code-viewer-theme-700: var(--nx-code-viewer-theme-700);
  --color-nx-code-viewer-theme-800: var(--nx-code-viewer-theme-800);
  --color-nx-code-viewer-theme-900: var(--nx-code-viewer-theme-900);
  --color-nx-code-viewer-theme-950: var(--nx-code-viewer-theme-950);
}
