@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@reference '@ngeenx/base-tailwincss-config';

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}
