/**
 * Diff Line Component Styles
 */

.nx-diff-line {
  @apply block;
}

.diff-line {
  @apply flex font-mono text-sm leading-6 min-h-6 whitespace-pre relative;

  .line-number {
    @apply w-8 text-right pr-2 select-none shrink-0;

    &.old {
      @apply border-r;
    }

    &.new {
      @apply border-r;
    }
  }

  .prefix {
    @apply w-4 text-center select-none shrink-0;
  }

  .content {
    @apply flex-1 px-2;
  }

  /* Dark theme */
  &.dark {
    .line-number {
      @apply text-neutral-500;

      &.old {
        @apply border-neutral-700;
      }

      &.new {
        @apply border-neutral-700;
      }
    }

    .content {
      @apply text-neutral-200;
    }

    &.added {
      @apply bg-green-900/30 border-l-2 border-green-500;

      .prefix {
        @apply text-green-400;
      }

      &.highlighted {
        @apply bg-green-900/50;
      }
    }

    &.removed {
      @apply bg-red-900/30 border-l-2 border-red-500;

      .prefix {
        @apply text-red-400;
      }

      &.highlighted {
        @apply bg-red-900/50;
      }
    }

    &.unchanged {
      @apply border-l-2 border-transparent;

      &.highlighted {
        @apply bg-neutral-700/50;
      }
    }

    &.header {
      @apply bg-neutral-800 text-neutral-400 border-l-2 border-neutral-600;
    }
  }

  /* Light theme */
  &.light {
    .line-number {
      @apply text-neutral-400;

      &.old {
        @apply border-neutral-300;
      }

      &.new {
        @apply border-neutral-300;
      }
    }

    .content {
      @apply text-neutral-800;
    }

    &.added {
      @apply bg-green-100 border-l-2 border-green-600;

      .prefix {
        @apply text-green-700;
      }

      &.highlighted {
        @apply bg-green-200;
      }
    }

    &.removed {
      @apply bg-red-100 border-l-2 border-red-600;

      .prefix {
        @apply text-red-700;
      }

      &.highlighted {
        @apply bg-red-200;
      }
    }

    &.unchanged {
      @apply border-l-2 border-transparent;

      &.highlighted {
        @apply bg-neutral-200/70;
      }
    }

    &.header {
      @apply bg-neutral-100 text-neutral-500 border-l-2 border-neutral-300;
    }
  }
}

/* Line widget containers */
.line-widgets-left {
  @apply absolute left-0 top-1/2 -translate-y-1/2 flex items-center gap-0.5 z-10 -translate-x-full pr-1;
}

.line-widgets-right {
  @apply absolute right-0 top-1/2 -translate-y-1/2 flex items-center gap-0.5 z-10 pl-1;
}
