/**
 * Collapsed Indicator Component Styles
 */

.nx-collapsed-indicator {
  @apply block;
}

.collapsed-indicator {
  @apply flex items-center font-mono text-sm leading-6 cursor-pointer
    transition-colors duration-75 select-none min-h-6;

  &:focus-visible {
    @apply outline-none ring-2 ring-offset-1;
  }

  &.dark {
    @apply text-sky-400 bg-sky-900/30;

    &:hover {
      @apply bg-sky-800/40;
    }

    &:focus-visible {
      @apply ring-sky-400 ring-offset-neutral-900;
    }

    .expand-icon {
      @apply text-sky-400 border-sky-800/50;
    }

    .collapse-text {
      @apply text-sky-400;
    }
  }

  &.light {
    @apply text-sky-600 bg-sky-100/60;

    &:hover {
      @apply bg-sky-200/70;
    }

    &:focus-visible {
      @apply ring-sky-500 ring-offset-white;
    }

    .expand-icon {
      @apply text-sky-500 border-sky-200;
    }

    .collapse-text {
      @apply text-sky-600;
    }
  }

  .expand-icon {
    @apply min-w-12 w-12 flex items-center justify-center shrink-0 border-r;
  }

  .collapse-text {
    @apply px-4 italic;
  }
}
